@charset "UTF-8";

body{
    color: white;
    background: rgb(46, 46, 46);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#borda{
    display: block;
    width: 300px;
    height: 250px;
    margin: 50px auto;
    position: relative;
    background-color: blueviolet;
}

::-webkit-inner-spin-button{
    appearance: none;
}

#buttons{
    display: inline-flex;
    padding: 5px;
}

#topLeft{
    width: 40px;
    background-color: rgb(212, 212, 212);
    font-size: large;
    margin: auto 2px;
    text-align: center;
}

#bottomLeft{
    width: 40px;
    background-color: rgb(212, 212, 212);
    font-size: large;
    margin: auto 2px;
    text-align: center;
}

#topRight{
    width: 40px;
    background-color: rgb(212, 212, 212);
    font-size: large;
    margin: auto 2px;
    text-align: center;
}

#bottomRight{
    width: 40px;
    background-color: rgb(212, 212, 212);
    font-size: large;
    margin: auto 2px;
    text-align: center;
}   

#buttons-2{
    display: none;
    padding: 5px;
}

#middleLeft{
    width: 40px;
    background-color: rgb(212, 212, 212);
    font-size: large;
    margin: auto 2px;
    text-align: center;
}

#middleTop{
    width: 40px;
    background-color: rgb(212, 212, 212);
    font-size: large;
    margin: auto 2px;
    text-align: center;
}

#middleRight{
    width: 40px;
    background-color: rgb(212, 212, 212);
    font-size: large;
    margin: auto 2px;
    text-align: center;
}

#middleBottom{
    width: 40px;
    background-color: rgb(212, 212, 212);
    font-size: large;
    margin: auto 2px;
    text-align: center;
}   

#botao-copiar{
    width: 60px;
    background-color: rgb(253, 178, 236);
    font-size: smaller;
    border: none;
    margin-left: 20px;
    border-radius: 30px;
    cursor: pointer;
}