@charset "UTF-8";

body{
    color: white;
    background: rgb(46, 46, 46);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#borda{
    display: block;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    position: relative;
    background-color: blueviolet;
    border: 1px solid white;
}

::-webkit-inner-spin-button{
    appearance: none;
}

#buttons{
    display: inline-grid;
    padding: 0 50px;
    border: 1px solid white;
    border-radius: 30px;
}

#topLeft{
    width: 170px;
    background: rgb(159, 253, 230);
    margin: 15px 0px;
    text-align: center;
}

#bottomLeft{
    width: 170px;
    background-color: rgb(212, 212, 212);
    margin: 15px 0px;
    text-align: center;
}

#topRight{
    width: 170px;
    background-color: rgb(212, 212, 212);
    margin: 15px 0px;
    text-align: center;
}

#bottomRight{
    width: 170px;
    background-color: rgb(212, 212, 212);
    margin: 15px 0px;
    text-align: center;
}    

#valoresTxt{
    resize: none;
    width: 170px;   
    text-align: center;
}

#botao-copiar{
    color: white;
    width: 170px;
    background-color: blueviolet;
    font-size: smaller;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

