@charset "UTF-8";

body{
    color: rgb(255, 255, 255);
    background: linear-gradient(35deg, rgb(250, 208, 255), rgb(245, 255, 103) 70%);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

h1{
    color: rgb(57, 1, 110);
    font-style:normal;
    font-size: larger;
}

a{
    color: white;
    text-decoration: none;
}

#borda{
    display: block;
    width: 300px;
    height: 300px;
    margin: 10px auto 25px auto;
    position: relative;
    background: linear-gradient(rgb(124, 14, 226), rgb(161, 97, 221));
    border: 3px solid rgb(57, 1, 110);
    -webkit-box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
	-moz-box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
	box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
}

::-webkit-inner-spin-button{
    appearance: none;
}

#buttons{
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-area: 1 / 1 / 2 / 2; 
    margin-right: 77px;
    margin-bottom: 25px;
    padding: 10px 50px;
    align-items: center;
    border: 3px solid rgb(57, 1, 110);
    text-shadow: -5px 1px 5px rgba(124, 14, 226, 0.285);
    background: linear-gradient(rgb(164, 164, 164), rgb(255, 255, 255));
    -webkit-box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
	-moz-box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
	box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
}

span{
   text-align: end;
   color: rgb(57, 1, 110);
   font-weight: 400;
}

#topLeft{
    width: 170px;
    background: rgb(159, 253, 230);
    margin: 5px 0px;
    text-align: center;
    cursor: pointer;
}

#bottomLeft{
    width: 170px;
    background-color: rgb(212, 212, 212);
    margin: 5px 0px;
    text-align: center;
    cursor: pointer;
}

#topRight{
    width: 170px;
    background-color: rgb(212, 212, 212);
    margin: 5px 0px;
    text-align: center;
    cursor: pointer;
}

#bottomRight{
    width: 170px;
    background-color: rgb(212, 212, 212);
    margin: 5px 0px;
    text-align: center;
    cursor: pointer;
}    

#valoresTxt{
    font-size: 15px;
    resize: none;
    width: 370px;   
    text-align: center;
    border-radius: 10px;
    letter-spacing: -0.5px;
    border: 3px solid rgb(57, 1, 110);
    background: rgb(201, 201, 201);
    -webkit-box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
	-moz-box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
	box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
}

#botao-copiar{
    color: white;
    width: 170px;
    background: blueviolet;
    font-size: smaller;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid rgb(57, 1, 110);
    box-shadow: -5px 10px 10px rgba(57, 1, 110,.3);
    -webkit-box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
	-moz-box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
	box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
}

#botao-alterar{
    color: white;
    width: 150px;
    background: blueviolet;
    font-size: smaller;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid rgb(57, 1, 110);
    box-shadow: -5px 10px 10px rgba(57, 1, 110,.3);
    -webkit-box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
	-moz-box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
	box-shadow: -20px 10px 5px rgba(57, 1, 110,.3);
}

#midTopLeft{
    width: 170px;
    background-color: rgb(212, 212, 212);
    margin: 5px 0px;
    text-align: center;
    cursor: pointer;
}

#midBottomLeft{
    width: 170px;
    background-color: rgb(212, 212, 212);
    margin: 5px 0px;
    text-align: center;
    cursor: pointer;
}

#midTopRight{
    width: 170px;
    background-color: rgb(212, 212, 212);
    margin: 5px 0px;
    text-align: center;
    cursor: pointer;
}

#midBottomRight{
    width: 170px;
    background-color: rgb(212, 212, 212);
    margin: 5px 0px;
    text-align: center;
    cursor: pointer;
}


